[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
pyinstaller = "*"

[packages]
arcade = "*"
pyobjc = "*"

[requires]
python_version = "3.8"
